@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300&display=swap");

* {
    margin: 0;
    padding: 10px;
    list-style: none; 

}
  
body{
    background: linear-gradient(0deg, #5E17EB 0.08%, #E5097F 155.74%);
    display: block;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
    font-weight: normal;
   
}
.page-wrap {
    max-width: 1200px;
    padding: 0;
    margin: 0;
  }
  
.contacts{
    margin-left: 1125px;
    padding: 0;
    cursor: pointer;
    position: fixed;
} 
.menu{
    width: 40px;
    height: 40px;
}
.img{
    width: 20%;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
    padding:5px;
    margin: -415px 0 200px -10px; 
}
ul,
li {
  list-style: none;
  display: inline;
}
.text{
    background: linear-gradient(25deg,#E5097F  -28%, #5E17EB 188.74%);
    color: #ddd;
    border-radius: 8px; 
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
    font-size: 18px;
    text-align: center;
    justify-content: space-between;
    margin-left: 300px;
}
.resume_hobby{
    background: linear-gradient(25deg,#E5097F  -28%, #5E17EB 188.74%);
    color: #ddd;
    border-radius: 8px; 
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
    font-size: 20px;
    padding: 12px;
    text-align: center;
   width: 53%;
   margin-left: 32%;
}
.card{
  padding: 18px 80px;
  margin-bottom: 50px;
  width: 80%;
}
.card_1{
  position: relative;
  align-items: center;
}
.job{
    background: linear-gradient(25deg,#E5097F  -28%, #5E17EB 188.74%);
    color: #ddd;
    border-radius: 8px; 
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
    font-size: 20px;
    padding: 0;
    margin: -650px 10px 50px 375px;
    text-align: center;
    justify-content: space-between;
    width: 50%;
  
}

  .login-box {
    position: relative;
    top: 150px;
    left: 660px;
    width: 400px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.3);
    border-radius: 10px;
  } 
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #f403e0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f403e0,
                0 0 25px #f403e0,
                0 0 50px #f403e0,
                0 0 100px #f403e0;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    /* background: linear-gradient(0deg, transparent, #f403e0); */
    animation: btn-anim1 1s linear infinite;
  }
  .wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
#instagram:hover,
#telegram:hover
 {
    background: #f403e0;
    border-radius: 5px;
    box-shadow: 0 0 5px #f403e0,
                0 0 25px #f403e0,
                0 0 50px #f403e0,
                0 0 100px #f403e0;
  

}
#book,#game,#music,#plant{
    border-radius: 10px;
    margin-left: 30px;
}
#book:hover,#game:hover,#music:hover,#plant:hover{
    border-radius: 10px;
    box-shadow: 0 0 5px #f403e0,
                0 0 25px #f403e0,
                0 0 50px #f403e0,
                0 0 100px #f403e0;
} 
.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}


.resume_content{
  width: 220px;
  margin-top: -200px;
  margin-left: 12px;
  display: inline-block;
  border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
  
}
.icon{
  margin: 0;
  padding: 0;
  width: 30px;
}
#location:hover,#contacts:hover,#gmail:hover{
  border-radius: 10px;
    box-shadow: 0 0 5px #f403e0,
                0 0 25px #f403e0,
                0 0 50px #f403e0,
                0 0 100px #f403e0;
}
.skill_name{
  margin: 0;
  padding: 0;
  width: 40px;
  
}
.resume_item{
  position:static;
  font-size: 20px;
    padding: 0;
   justify-content: center;
   width: 53%;
   margin-left: -10px;
}
#html:hover,#css:hover,#js:hover{
   border-radius: 10px;
    box-shadow: 0 0 5px #f403e0,
                0 0 25px #f403e0,
                0 0 50px #f403e0,
                0 0 100px #f403e0;
}












    
  
 
  
